<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Sistema" connectionString="Data Source=hbdgestion;Initial Catalog=BD_OMEGA_HISTORICO;User Id=usr_inventario;Password=casita11;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>